interface {{ member['vpc_member_lag_members'] }}
channel-group {{ member['vpc_member_lag'] }} mode active
no shutdown

interface port-channel {{ member['vpc_member_lag'] }}
switchport
switchport mode trunk
switchport trunk native vlan {{ member['vpc_member_vlan'] }}
switchport trunk allowed vlan {{ member['vpc_member_vlan'] }}
vpc {{ member['vpc_member_vpc'] }}
