vrf context {{ vpc_keepalive['vpc_keepalive_vrf'] }}
interface port-channel{{ vpc_keepalive['vpc_keepalive_lag'] }}
no switchport
description Po{{ vpc_keepalive['vpc_keepalive_lag'] }}-KEEPALIVE
vrf member {{ vpc_keepalive['vpc_keepalive_vrf'] }}
ip address {{ vpc_keepalive_ip }}
interface {{ vpc_keepalive['vpc_keepalive_lag_members'] }}
no switchport
description Po{{ vpc_keepalive['vpc_keepalive_lag'] }}-member-KEEPALIVE
channel-group {{ vpc_keepalive['vpc_keepalive_lag'] }} mode active
no shutdown
