vpc domain {{ vpc_domain['vpc_domain_id'] }}
peer-switch
role priority {{ vpc_domain['vpc_priority'] }}
peer-keepalive destination {{ vpc_domain_dst_ip }} source {{ vpc_domain_src_ip }} vrf {{ vpc_domain_vrf }}
peer-gateway
layer3 peer-router
ip arp synchronize
auto-recovery
