vlan {{ vpc_peer['vpc_peer_vlan'] }}
name {{ vpc_peer['vpc_peer_vlan_name'] }}
interface port-channel{{ vpc_peer['vpc_peer_lag'] }}
description Po{{ vpc_peer['vpc_peer_lag'] }}-PEERLINK
switchport
switchport mode trunk
switchport trunk native vlan {{ vpc_peer['vpc_peer_vlan'] }}
switchport trunk allowed vlan 1 - 4093
vpc peer-link

interface {{ vpc_peer['vpc_peer_lag_members'] }}
description Po{{ vpc_peer['vpc_peer_lag'] }}-member-PEERLINK
channel-group {{ vpc_peer['vpc_peer_lag'] }} force mode active
no shutdown
